{% extends 'main/base.html' %}

{% load static %}

{% block title %}
MoodMap
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mb-10">
    <div class="px-4 py-3 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'main/images/logo_blue.svg' %}" alt="" width="100" height="100">
        <h1 class="display-5 fw-bold text-body-emphasis">Chat with MoodMap</h1>
    </div>
    <div class="col-lg-12 p-3">
        <form method="POST" class="w-100 mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3 rounded" style="width: 3rem; height: 3rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60em" height="60em" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5"/>
                    </svg>
            </button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="clear" class="btn btn-outline-primary feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3 rounded" style="width: 3rem; height: 3rem;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>
            </button>
        </form>
        <div class="mt-4">
            {% for message in messages %}
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 mt-1" aria-current="true">
                        <!-- Условие для отображения картинки -->
                        <img src="{% if message.user and message.user.email != 'MoodMap@gmail.com' %}{% static 'users/images/user_icon.svg' %}{% else %}{% static 'users/images/logo_blue.svg' %}{% endif %}" alt="logo" width="32" height="32" class="rounded-circle flex-shrink-0">

                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">{% if message.user.email != 'MoodMap@gmail.com' %}{{ message.user.email }}{% else %}MoodMap{% endif %}:</h6>
                                <p class="mb-0 opacity-75">{{ message.content }}</p>
                            </div>
                            <small class="opacity-50 text-nowrap">{% if message.user and message.user.email != 'MoodMap' %}User{% else %}MoodMap{% endif %}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
